.rw-srv {
    width: 100%;
    text-align: center;
}

.rw-srv button {
    display: inline-block;
    margin: 2px;
    background-color: #A66CC9;
    color: #161622;
    border: #3C1059 solid 1px;
    border-radius: 5px;
}

.rw-srv button:hover {
    background-color: #6c3b8a;
}

.rw-page #content {
    max-width: 970px;
}

.rw-page .option {
    height: 20px;
    display: block;
}
.rw-page input {
    height: 20px;
    border: none;
    border-radius: 5px;
}

.rw-template {
    display: none;
}

.rw-pin {
    bottom: 12px;
    right: 12px;
    position: absolute;
    opacity: 0.75;
}
.rw-pin:hover {
    opacity: 1;
}

.rw-dropdown {
    position: absolute;
    left: 50vw;
    top: 50vh;
    z-index: 150;
    transform: translateX(-50%) translateY(5px);
}