.rw-srv {
    width: 100%;
    text-align: center;
}

.rw-srv button {
    display: inline-block;
    margin: 2px;
    background-color: #A66CC9;
    color: #161622;
    border: #3C1059 solid 1px;
    border-radius: 5px;
}

.rw-srv button:hover {
    background-color: #6c3b8a;
}

.rw-page #content {
    max-width: 970px;
}

.rw-page .option {
    height: 20px;
    display: block;
}
.rw-page input {
    height: 20px;
    border: none;
    border-radius: 5px;
}

.rw-page button {
    background-color: transparent;
    color: rgb(213, 215, 221);
    background-color: transparent;
    border: 1px solid rgb(213, 215, 221);
    padding: 4px;
    border-radius: 8px;
    font-family:Builder Sans,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;
    margin: 5px;
}

.rw-template {
    display: none;
}

.rw-pin {
    bottom: 12px;
    right: 12px;
    position: absolute;
    opacity: 0.75;
}
.rw-pin:hover {
    opacity: 1;
}

.rw-dropdown {
    position: absolute;
    left: 50vw;
    top: 50vh;
    z-index: 150;
    transform: translateX(-50%) translateY(5px);
}

.rw-icon {
    display: block;
    width: 28px;
    height: 28px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: white 1px solid;
    border-radius: 5px;
}


.rw-page .error-title {
    font-size: 0 !important;
}

.rw-page .error-title::after {
    content: "RoWindy page not found";
    font-size: 20px;
}